{{ define "scripts" }}
<script src="https://unpkg.com/htmx.org@2.0.2"></script>
<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/nostr-tools/lib/nostr.bundle.js"></script>
<script src="/static/js/scripts.js"></script>
<script>
    // Global state and scripts can be added here
    console.log("My Khatru Relay is running!");
</script>
{{ end }}